  
  {% extends 'layout/app.html.twig' %}

  {% block PAGE_CSS %}
  {% endblock %}

  
  {% block CONTENT_MID %}


  
  

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5"><b>404</b></h1>
            <h3 class="text-center mt-5"> Pagina Non Trovata</h3>
            <p class="text-center mt-5">La pagina che stai cercando non è raggiungibile </p>
            <p class="text-center mt-5">Prova piu tardi</p>

        </div>

    </div>


</div>

  



  
{% endblock %}
 
{% block PAGE_JS %}
{% endblock %}

